.header {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 0.75rem;
	margin-bottom: 2rem;
	box-shadow: 0 0 7px rgba(#000, 0.5);

	&__logo {
		width: 50%;
		max-width: 392px;
		vertical-align: middle;
	}
}
