.header {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 0.75rem;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 5px rgba($color-black, 0.5);

	&__logo {
		width: 50%;
		max-width: 392px;
		vertical-align: middle;
	}
}
