@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}
