.restau {
	padding: $padding-container;
	padding-bottom: 4rem;
	background-color: $color-grey-light;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
	position: relative;
	margin-top: 10rem;

	@include desktop-only {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
	}

	&::before {
		content: "";
		background-position: 50% 75%;
		background-size: cover;
		position: absolute;
		width: 100%;
		height: 12.5rem;
		top: -10rem;
		left: 0;
		z-index: -1;

		@include desktop-only {
			box-shadow: 0 0 10px rgba($color-black, 0.2);
		}
	}

	@for $i from 1 through $nb-restaurants {
		&--#{$i} {
			&::before {
				background-image: url("../../public/images/restaurants/restau-#{$i}.jpg");
			}
		}
	}

	&__name {
		font-family: "Shrikhand", cursive;
		font-size: 1.5rem;
	}
}

.menu {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.menu-category {
	&__heading {
		overflow: hidden;
		padding-bottom: 0.5rem;

		& > h2 {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1rem;
			animation: menu-category $anim-dur-menu ease-out;

			& > span {
				border-bottom: 3px solid $color-tertiary;
				padding-bottom: 0.25rem;
			}
		}
	}

	&__choices-list {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		animation: menu-choices $anim-dur-menu $anim-delay-menu backwards;
	}
}

.menu-choice {
	background-color: $color-white;
	border-radius: 0.75rem;
	box-shadow: 0 5px 10px 0 rgba($color-black, 0.2);
	overflow: hidden;
	position: relative;
	animation: menu-choice $anim-dur-menu $anim-delay-menu backwards ease-out;

	@for $i from 1 through $nb-max-choices {
		&:nth-of-type(#{$i}) {
			animation-delay: $anim-delay-menu + 100ms * ($i - 1);
		}
	}

	&:hover {
		&::before {
			@include desktop-only {
				opacity: 1;
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		opacity: 0;
		transition: opacity 250ms;
		background-color: $color-grey-light;
	}

	&__label {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-color: transparent;
		z-index: 1;
		cursor: pointer;
	}

	&__input {
		position: absolute;
		left: 50%;
		bottom: 5px;
		opacity: 0;

		&:checked {
			& + .menu-choice__content {
				width: calc(100% - 3rem);

				& > .menu-choice__check {
					transform: translate(0);

					& > i {
						transform: rotate(1turn);
					}
				}
			}
		}
	}

	&__content {
		position: relative;
		padding: 0.5rem;
		padding-right: 3rem;
		width: 100%;
		transition: all 500ms;
	}

	&__heading {
		@include text-ellipsis;
	}

	&__description {
		margin-top: 0.25rem;
		font-size: 0.8125rem;
		@include text-ellipsis;
	}

	&__price {
		position: absolute;
		bottom: 0.5rem;
		right: 1rem;
		font-weight: 700;
		font-size: 0.875rem;
	}

	&__check {
		position: absolute;
		height: 100%;
		top: 0;
		right: -3rem;
		background-color: $color-tertiary;
		color: $color-white;
		font-size: 1.25rem;
		font-weight: 700;
		width: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(100%);
		transition: transform 500ms;

		& > i {
			transition: transform 500ms 150ms;
		}
	}
}
