/* Loader */

@keyframes loading-body {
	0% {
		height: 100vh;
		overflow: hidden;
	}
}

@keyframes loader-container {
	100% {
		transform: scale(0);
	}
}

@keyframes loading-page {
	0% {
		transform: scale(0);
	}
}

@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes loader-balls {
	100% {
		transform: rotate(1turn);
	}
}

/* Menu */

@keyframes menu-choices {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menu-choice {
	0% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0);
	}
}

/* Restau preview */

@keyframes restau-preview {
	25% {
		transform: rotate(-1deg);
	}
	75% {
		transform: rotate(1deg);
	}
}
