@mixin btn {
	padding: 0;
	background-color: unset;
	border: unset;
	cursor: pointer;
}

@mixin disc($size, $color-bg) {
	width: $size;
	height: $size;
	border-radius: 50%;
	background-color: $color-bg;
}

@mixin text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin mobile-only {
	@media screen and (max-width: map-get($breakpoints, mobile)) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: map-get($breakpoints, mobile)) {
		@content;
	}
}
