/* Color */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tag: #008766;
$color-grey-light: #f6f6f6;
$color-grey-dark: #7e7e7e;
$color-grey-darker: #353535;
$color-white: #fff;
$color-black: #000;

/* Global */

$padding-container: 2rem 1rem;
$nb-restaurants: 4;

/* Home */

$size-step-number: 1.5rem;
$size-preview-image: 9rem;
$size-preview: 18rem;

/* Loader */

$size-loader: 25vmin;
$size-loader-ball: 20%;
$nb-balls: 8;
$anim-dur-loader: 1500ms;
$anim-delay-loader: 3000ms;

/* Menu */

$nb-max-choices: 4;
$size-choice-check: 3rem;
$anim-dur-choice: 500ms;
$anim-dur-menu: 1000ms;
$anim-delay-menu: 500ms;

/* Responsive */

$breakpoints: (
	mobile: 500px,
);
